{% extends 'web_parts/master.html' %}

{% block title %}Room Details{% endblock %}

{% block content %}
<h1>Add a New Room</h1>
<form method="post">
    {% csrf_token %}
    <label for="name">Room Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="capacity">Capacity:</label>
    <input type="number" id="capacity" name="capacity" required><br>

    <h3>Equipment:</h3>
    {% for equipment in equipments %}
        <input type="checkbox" id="equipment_{{ equipment.id }}" name="equipments" value="{{ equipment.id }}">
        <label for="equipment_{{ equipment.id }}">{{ equipment.name }}</label><br>
    {% endfor %}

    <button type="submit">Add Room</button>
</form>
{% endblock %}
