{% extends 'web_parts/master.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Conference Rooms</h1>
<ul>
    {% for room in rooms %}
        <li>
            <strong>{{ room.name }}</strong> (Capacity: {{ room.capacity }})<br>
            <strong>Equipment:</strong>
            {% if room.equipments.all %}
                {{ room.equipments.all|join:", " }}
            {% else %}
                None
            {% endif %}
            <br>
            <a href="{% url 'room_detail' room.id %}">View Details</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
